#clipboard .repo_body {
    background-color: white;
    border-left: 2px solid #636363;
    border-right: 2px solid #636363;
}

    #clipboard .repo_title {
        background-color: #e6e6e6;
        padding: 3px;
    }

    #clipboard .repo_desc {
        padding: 7px;
    }

    #clipboard h2 {
        margin: 0px;
        font-size: 28px;
        font-family: 'Amaranth', Tahoma, Geneva, sans-serif;
    }

     #clipboard p {
         margin: 0px;
         margin-bottom: 7px;
     }

#clipboard .lang_title {
    margin-top: -8px;
    padding-top: 10px;
    border-top: 2px solid #e6e6e6;
}

#scoreboard .repo_body {
    position:relative;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-image: -moz-linear-gradient(top, white, #dddddd);
    background-image: -o-linear-gradient(top, white, #dddddd);
    background-image: -webkit-gradient(linear, top bottom, from(white), to(#dddddd));
    background-image: linear-gradient(to bottom, white, #dddddd);
}

#scoreboard .repo_title {
    -moz-animation: fill-score-title 3s forwards;
    -o-animation: fill-score-title 3s forwards;
    -webkit-animation: fill-score-title 3s forwards;
    animation: fill-score-title 3s forwards;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    overflow: visible;
    background-color: dodgerblue;
    width: 0px;
    margin-top: 3px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#scoreboard .repo_title:hover {
    padding: 5px;
    background-color: #59ccff;
}

#scoreboard h2 {
    margin: 0px;
    width: var(--repo_body_width);
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: visible;
    line-height: 40px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    #scoreboard h2:hover {
        font-size: 30px;
        margin-left: -1px;
    }

#scoreboard .repo_desc {
    -moz-animation: fill-score-desc 3s forwards;
    -o-animation: fill-score-desc 3s forwards;
    -webkit-animation: fill-score-desc 3s forwards;
    animation: fill-score-desc 3s forwards;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    overflow: visible;
    background-color: mediumorchid;
    margin-top: 3px;
    width: 0px;
}

    #scoreboard .repo_desc p {
        width: var(--repo_body_width);
        overflow: visible;
        color: white;
        margin: 0px;
        padding: 0px;
        text-shadow: 1px 1px 2px #000;
    }

#scoreboard .lang_title {
    padding-top: 10px;
}

#winner_toast {
    position: absolute;
    z-index: 3;
    background-color: #0a0a0d;
    color: white;
    height: 25px;
    width: 130px;
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 25px;
    bottom: -30px;
    left: 135px;
    padding: 2px;
    -moz-animation: toast-appear 2.5s forwards;
    -o-animation: toast-appear 2.5s forwards;
    -webkit-animation: toast-appear 2.5s forwards;
    animation: toast-appear 2.5s forwards;
    -moz-animation-delay: 4.6s;
    -o-animation-delay: 4.6s;
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

@keyframes toast-appear {
    0% {
        bottom: -30px;
    }
    20% {
        bottom: 3px;
    }
    80% {
        bottom: 3px;
    }
    100% {
        bottom: -30px;
    }
}

@keyframes fill-score-title {
    0% {
        width: 0px;
    }
    14% {
        width: 12%;
    }
    20% {
        width: 12%;
    }
    34% {
        width: 34%;
    }
    47% {
        width: 34%
    }
    61% {
        width: 87%;
    }
    66% {
        width: 87%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fill-score-desc {
    0% {
        width: 0px;
    }

    14% {
        width: 9%;
    }

    20% {
        width: 9%;
    }

    34% {
        width: 54%;
    }

    47% {
        width: 54%
    }

    61% {
        width: 76%;
    }

    66% {
        width: 76%;
    }

    100% {
        width: 91%;
    }
}