@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

:root {
    --main-colour: #acff31;
}

* {
    font-family: 'Nova Mono', monospace;
}

body {
    background-color: rgb(10, 10, 10);
    background-image: url("https://www.perpetuareality.com/img/bg-overlay-trianglescape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-dodge;
    color: var(--main-colour);
}

a, a:visited {
    color: #e8ff68;
}

a:hover, a:visited:hover {
    color: #fffec5;
}

#logo {
    animation: hue-rotate 10s infinite;
    height: 180px;
    width: auto;
    margin-top: 10px;
}

#logo:hover {
    animation-play-state: paused;
    filter: invert(100%) !important;
}

@keyframes hue-rotate {
    0% {
        /* WHAT THE FUCK CSS */
        filter: invert(82%) sepia(81%) saturate(464%) hue-rotate(27deg) brightness(105%) contrast(101%);
    }
    100% {
        filter: invert(82%) sepia(81%) saturate(464%) hue-rotate(386deg) brightness(105%) contrast(101%);
    }
}

#wrapper {
    margin-top: -30px;
    min-width: 900px;
    margin-right: 200px;
}

nav {
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4 {
    margin: 0%;
}

h1 {
    margin-top: 15px;
    border-bottom: double 1px var(--main-colour);
}

h3 {
    font-weight: normal;
}

.h_underline {
    margin-top: -10px;
}

.proj {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: dashed 2px var(--main-colour);
}

.proj_image {
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    border-right: dashed 2px var(--main-colour);
}

.proj_image img {
    width: 256px;
    border: solid 1px var(--main-colour);
}

.missing{
    height: 205px;
    width: 256px;
    border: solid 1px var(--main-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}